*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("/img/windowsxp.jpg") no-repeat fixed center center; */
  padding: 2em;
}

.bimage {
       background: url("../img/windowsxp.jpg") no-repeat fixed center center;
   }

.bimage2 {
  background: url("../img/paper.jpg") no-repeat fixed center center;
}

.bimage3 {
  background: url("../img/email.jpg") no-repeat fixed center center;
}

header {
  grid-area: h1man;
}

h1 {
  color: #54FF2E;
  text-align: center;
  line-height: 100%;
  font-size: 20pt;
  font-family: 'Ubuntu Mono', monospace;
  /* grid-area: topper; */
  /* font-weight: 800; */
}

h3 {
  color: #54FF2E;
}

p {
  font-size: 18pt;
  color: #54FF2E;
  font-family: 'Ubuntu Mono', monospace;
  /* font-weight: 00; */
}

nav {
    text-align: center;
    grid-area: nav;
    /* font-weight: 800; */
}

ul li {
  color: #54FF2E;
  list-style: none;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 18pt;
  padding: 1em;
  color: #54FF2E;
  font-family: 'Ubuntu Mono', monospace;
}

.paddingnone {
  padding: 0;
}

.letter {
  grid-area: letter;
}

.commands {
  grid-area: commands;
}

.container {
  padding: 2em;
	margin: 0 auto;
  max-width: 960px;
	text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:  "h1man nav"
                        "letter commands"
                        "letter commands";
  grid-gap: 1em;
  background-color: black;
}

.container2 {
  padding: 1em;
	margin: 0 auto;
  max-width: 960px;
	text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:  "h1man nav"
                        "letter commands"
                        "letter commands";
  grid-gap: 1em;
  /* background-color: black; */
}

.container3 {
  padding: 1em;
	margin: 0 auto;
  max-width: 960px;
	text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:  "h1man nav"
                        "letter commands"
                        "letter commands";
  grid-gap: 1em;
  /* background-color: rgba(0,0,0,.5); */
}

.gitfont {
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.githubfont {
  color: black;
  font-family: 'Merriweather', serif;
}

.bigfont{
  font-size: 20pt;
}

.smallfont {
  font-size: 15pt;
}

a:link {
	color: #54FF2E;
  text-decoration: none;
}

a:visited {
	color: #54FF2E;
}

a:hover {
	color: #C751CC;
}

a:active {
	color: #54FF2E;
}

#Nav a:link {
    color: black;
}

#Nav a:visited {
    color: black;
}

#Nav a:hover {
    color: red;
    text-decoration: none;
}

#Nav a:active {
    color: red;
}

#Nav2 a:link {
    color: black;
}

#Nav2 a:visited {
    color: black;
}

#Nav2 a:hover {
    color: yellow;
    text-decoration: none;
}

#Nav2 a:active {
    color: yellow;
}
